# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.venv/
*/venv/
*/.venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
*.env